<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ROOT_LOG_LEVEL" value="INFO"/>

    <!-- Logger for sensitive data -->
    <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
            <includeContext>false</includeContext>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
    </appender>

    <appender name="default-json" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
        <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
            <marker>TEAM_LOGS</marker>
        </evaluator>
        <OnMatch>DENY</OnMatch>
        <OnMismatch>ACCEPT</OnMismatch>
    </filter>
</appender>

    <logger name="secureLogger" level="INFO" additivity="false">
        <appender-ref ref="team-logs"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <!-- nais+local -->
        <appender-ref ref="default-json"/>
    </root>

    <logger name="no.nav" level="INFO"/>
    <logger name="no.nav.familie" level="INFO"/>

</configuration>